.menu {
  background-color: #fa6a13;
  .menu_item {
    ul {
      display: flex;
      gap: 15px;

      li {
        padding: 12px 5px;

        a {
          color: #fff;
          text-transform: uppercase;
          font-size: 15px;
        }
      }
    }
  }
}
